.artigo {
    border-bottom: 1px solid #DDDCD8;
    padding: 10px 40px;

    &:first-child {
        padding-top: 0;
        margin-top: 40px;
    }

    &:last-child {
        border-bottom: none;
    }

    a h1.titulo-artigo {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 10px;

        &:hover {
            color: #0084D0;
        }
    }

    p {
        font-size: 17px;
        line-height: 26px;
        font-weight: 300;
        padding-top: 4px;
    }

    .continue {
        text-align: right;
        margin-right: 32px;
        margin-top: 10px;
        margin-bottom: 40px;

        a {
            font-size: 16px;
            font-weight: bold;
            color: #000;
            background-color: #EDECE8;
            padding: 6px 15px;

            &:hover {
                color: #0084D0;
            }
        }
    }

    // .img-artigo img {
    //     float: left;
    //     margin-top: 10px;
    //     margin-right: 10px;
    // }
}