h1 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.data-time {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 0.4rem;
  margin-bottom: 1.4rem;

  span:first-child {
    margin-right: 1rem;
  }
}
