:root {
    --white-color: #fff;
    --gray1-color: #DDDCD8;
    --gray2-color: #b3b3b3;
    --btn-active-color: #e44c65;
    --black1-color: #000;
    --black2-color: #171920;
    --blue-color: #0084D0;
}